html, body {
    background-image: url('background1.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-size: 20px;
    font-family: "Helvetica", Sans-Serif;
  }

  @keyframes test {
    0%   {background-color: red;}
    50% {background-color: green;}
    100% {background-color: red;}
  }


  h1 {
    font-size: 80px;
    font-family: "Fun";
    font-weight: 900;
    color: #ffffff;
    text-shadow: 4px 4px #000000;
    border-style: inset;
    border-width: 10px;
    border-color: rgb(255, 238, 5);
    margin:200px 100px 100px 100px;
    padding: 25px 25px 25px 25px; 
    text-align: center;
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  h2 {
    font-size: 60px;
    font-family: "Christmas";
    color: rgba(255, 255, 0, 0.767);
    text-align: center;
    text-shadow: 4px 4px #000000;
  }

  h3 {
    font-size: 45px;
    font-family: "from";
    text-align: right;
    margin-right: 5%;

  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350;
    border: 10px solid #000000;
  }

  .content {
    max-width: 1000px;
    margin: auto;
  }


  a {
    color: inherit; 
    text-decoration: inherit; 
  }

  @font-face {
    font-family: Fun;
    src: url(ADELIA.otf);
  }

  @font-face {
    font-family: Christmas;
    src: url(Starshines.ttf);
  }

  @font-face {
    font-family: from;
    src: url(Cursive.ttf);
  }